
bin/
build/
res/*
!res/dejavu-sans-mono-256.bmp
doc/

# Include the demo picture.
!res/coke.jpg

# Junk that has been used to verify various tools.
# Resources are needed to create these files.
*.html
output.txt
/out/*.png

# Emacs buffers
\#*\#

filelen.py

# Tools that aren't ready for release.
tools/*.py
!tools/test-api.py

# Eclipse stuff
.project
.classpath
.settings/

roadmap.txt
